# Statistics: Sources

In [1]:
import pandas as pd

## Set input folder

In [2]:
data_in = f'../data/03_preprocessed_00'

## Load data

In [5]:
clck_df = pd.read_csv(f'{data_in}/clck_full.csv')
news_df = pd.read_csv(f'{data_in}/news_full.csv')

## Source distribution analysis

### Number of entries

In [65]:
df = pd.DataFrame(index=['cc2017', 'github', 'reddit'],
                  columns=['clck', 'news'])
df = df.fillna(0)

for src in set(clck_df['src']):
    df.at[src, 'clck'] = len(clck_df[clck_df.src == src])
    
for src in set(news_df['src']):
    df.at[src, 'news'] = len(news_df[news_df.src == src])
    
df

         clck   news
cc2017   5335  15881
github  53055  27525
reddit      0  14984

In [67]:
df.sum(axis=0)

clck    58390
news    58390
dtype: int64

In [68]:
df.sum(axis=1)

cc2017    21216
github    80580
reddit    14984
dtype: int64

### Percentage

In [69]:
df_pc = (df / df.sum().sum() * 100).round(2)
df_pc

         clck   news
cc2017   4.57  13.60
github  45.43  23.57
reddit   0.00  12.83

In [70]:
df_pc.sum(axis=0)

clck    50.0
news    50.0
dtype: float64

In [71]:
df_pc.sum(axis=1)

cc2017    18.17
github    69.00
reddit    12.83
dtype: float64